@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Bebas+Neue&family=Montserrat:wght@800&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Bebas+Neue&family=Montserrat:wght@800&family=Roboto:wght@300;400&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

html body{
    background-color: red;
}

html{
    font-size: 60%;
}

#main{
    height: 100vh;
    width: 600px;
    margin: auto;
    z-index: -3;
    /* background: url('https://cdn.pixabay.com/photo/2014/02/02/17/40/photos-256887_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

#head1{
    width: 45rem;
    height: 7em;
    /* border: 2px solid red; */
    border-radius: 20px;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    background-color: black;
    text-transform: uppercase;
    z-index: -10; 
    position: relative;
}

#head1 h1{
    font-size: 5.2em;
    z-index: 1;
    padding-top: 5px;
}
#head1 h1::before{
    content:"Translator";
    text-transform: uppercase;
    position: absolute;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
    color: black;
    top: -2.5px;
    left: 34px;
    padding-top: 5px;
}
.page1{
    margin-top: 1.4em; 
}

.page1 h2{
    font-size: 2.8em;
    text-align: center;
}

.textInput{
    width: 100%;
    height: 155px;
    margin-top: 15px;
    /* border: 2px solid yellow; */
}

.textInput textarea{
    color: black;
    height: 100%;
    width: 99%;
    font-size: 20px;
    resize: none;
}

#main select{
    margin: 25px 0 0 10px;
    width: 16em;
    height: 2.8em;
    border-radius: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
}
#main select option{
    background-color: black;
    color: white;
}

#main label{
    font-weight: 900;
    font-size: 2em;
}
#btn{
    width: 10em;
    height: 3em;
    border-radius: 15px;
    background: black;
    font-size: 1.5em;
    margin-top: 26px;
    text-transform: uppercase;
    cursor: pointer;
}
#btn:hover{
    box-shadow: -1px 1px 10px 1px gray;
}
#des{
    margin-top: 23px;
}